/* 
 * Type styles 
 */

body{
  font-family: $font;
}
h1, h2{
  font-size: 28px;
}
h3{
  font-size: 21px;
  margin-bottom: .5em;
}
p, label, input, select, option{
  font-size: 13px;
  margin: .5em 0;
}
